.venv
__pycache__/
db.sqlite3
db copy.sqlite3
db.sqlite3-journal
.DS_Store
.env
.vscode
node_modules/
lcsts_acc_56.86_ppl_10.97_e11.pt
ca_cert.crt
localhost-cert.pem
localhost-key.pem
snoop.log
output.txt
