[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
dj-database-url = "*"
python-dotenv = "*"
django-cors-headers = "*"
dragonmapper = "*"
jieba = "*"
django-ninja = "*"
uvicorn = {extras = ["standard"], version = "*"}
channels = "*"
deepl = "*"
requests = "*"
beautifulsoup4 = "*"
pyjwt = "*"
argostranslate = "*"

[dev-packages]
pysnooper = "*"
bpython = "*"

[requires]
python_version = "3.12"
