[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argostranslate = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-dotenv = "*"
django-cors-headers = "*"
dragonmapper = "*"
jieba = "*"
django-ninja = "*"
uvicorn = {extras = ["standard"], version = "*"}
channels = "*"

[dev-packages]

[requires]
python_version = "3.12"
